body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-family: serif;
  color: #000;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-family: 900;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.block {
  text-align: center;
  padding: 0 0 50px;
}

.block + .block {
  padding: 70px 0;
}

.block + .block h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.block + .block h3 {
  display: inline-block;
  font-size: 15px;
  padding-bottom: 35px;
  border-bottom: 2px solid #316694;
  margin-bottom: 70px;
}

.block:nth-child(odd) {
  background: #316694;
  color: #fff;
}

.block:nth-child(odd) h2 {
  color: #fff;
}

.block:nth-child(odd) h3 {
  color: #fff9;
  border-bottom: 2px solid #fff;
}

.block:nth-child(even) {
  background: #fafafa;
}

.block:nth-child(even) h2 {
  color: #316694;
}

.block:nth-child(even) h3 {
  color: #6ec1e4;
}

.header {
  background: scroll center/cover url(../img/bg.jpg) no-repeat !important;
  height: 100vh;
}

.header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .container .nav li ul {
  text-transform: uppercase;
  padding: 10px;
}

.header .container .nav li ul + ul {
  margin-left: 15px;
}

.header .container .title {
  text-align: center;
  margin-top: 15%;
}

.header .container .title h1 {
  display: inline-block;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  font-size: 60px;
  border: 5px solid #fff;
  padding: 20px;
  line-height: 1;
}

.header .container .title h2 {
  margin-top: 10px;
  font-size: 19px;
  font-weight: 100;
  letter-spacing: 4px;
  line-height: 1;
  font-family: "Roboto", Sans-serif;
}

.about .container .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .container .inner-container .left,
.about .container .inner-container .center,
.about .container .inner-container .right {
  max-width: 300px;
}

.about .container .inner-container .left {
  text-align: right;
}

.about .container .inner-container .left p {
  margin-top: 30px;
}

.about .container .inner-container .left p:nth-child(odd) {
  color: #326794;
}

.about .container .inner-container .center {
  text-align: center;
}

.about .container .inner-container .center img {
  width: 100%;
  margin: 0 auto;
}

.about .container .inner-container .center p {
  color: #326794;
  font-size: 20px;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}

.about .container .inner-container .center p + p {
  color: #54595f;
}

.about .container .inner-container .right {
  text-align: left;
}

.about .container .inner-container .right p {
  margin-top: 15px;
}

.about .container .inner-container .right p:nth-child(even) {
  color: #326794;
}

.about .container .inner-container .right p:nth-child(1) {
  color: #54595f;
  font-size: 15px;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  margin-top: 30px;
}

.price {
  background: scroll center/cover url(../img/price-bg.jpg) no-repeat #54595f !important;
  background-color: #303133;
  background-blend-mode: multiply;
}

.price .container .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price .container .inner-container .block-price {
  font-family: 'Montserrat', sans-serif;
  max-width: 300px;
  min-width: 300px;
  background: #777;
  color: #fff;
  border-radius: 10px;
  min-height: 200px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
}

.price .container .inner-container .block-price:hover {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.9);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.price .container .inner-container .block-price + .block-price {
  min-height: 300px;
  margin-top: 30px;
}

.price .container .inner-container .block-price + .block-price + .block-price {
  min-height: 385px;
}

.price .container .inner-container .block-price__head {
  padding: 20px 0;
  border-radius: 8px 8px 0 0;
}

.price .container .inner-container .block-price__head p {
  text-transform: lowercase;
  font-size: 12px;
}

.price .container .inner-container .block-price__head p:first-child {
  text-transform: uppercase;
  font-size: 22px;
}

.price .container .inner-container .block-price__price {
  font-family: 'Roboto', sans-serif;
  font-family: 900;
  font-size: 70px;
  padding: 20px 0;
  color: #777;
  background: #fff;
}

.price .container .inner-container .block-price__price sup {
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}

.price .container .inner-container .block-price__body {
  background: #777;
  color: #fff;
  text-align: left;
  padding: 15px;
  font-size: 18px;
  text-transform: lowercase;
}

.price .container .inner-container .block-price__body p + p {
  margin-top: 5px;
}

.price .container .inner-container .block-price__footer {
  padding: 20px 0 30px;
}

.price .container .inner-container .block-price__footer a {
  display: inline-block;
  background: #fff;
  color: #777;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.price .container .inner-container .block-price__footer a:hover {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  opacity: .8;
}

.work .container .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work .container .inner-container .left {
  text-align: right;
  padding-right: 15px;
  border-right: 1px solid #000;
  width: 50%;
}

.work .container .inner-container .right {
  text-align: left;
  padding-left: 15px;
  width: 50%;
}

.work .container .inner-container ol li + li {
  margin-top: 20px;
}

.work .container .inner-container ol li p {
  color: #326794;
  font-size: 19px;
  font-style: italic;
  font-weight: 500;
}

.work .container .inner-container ol li p + p {
  margin-top: 5px;
  color: #54595f;
  font-size: 15px;
  font-style: normal;
}

.portfolio .container .inner-container .portfolio-block {
  background: #fff3;
  max-width: 300px;
  display: block;
  border: 2px solid #fff;
  padding: 5px;
}

.portfolio .container .inner-container .portfolio-block__title {
  padding: 5px 0;
}

.portfolio .container .inner-container .portfolio-block img {
  width: 100%;
}

.portfolio .container .inner-container .portfolio-block:hover {
  background: #fff5;
}

.portfolio .container .btn {
  display: inline-block;
  background: #fff5;
  background: #6ec1e4;
  padding: 20px 30px 20px 30px;
  font-family: "Roboto", Sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 600;
  border-radius: 5px;
}

.portfolio .container .btn:hover {
  background: #fff8;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.contact .container .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .container .inner-container .left {
  max-width: 500px;
  width: 100%;
}

.contact .container .inner-container .left input,
.contact .container .inner-container .left textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #818a91;
  border-radius: 4px;
  margin-bottom: 20px;
}

.contact .container .inner-container .left textarea {
  min-height: 150px;
}

.contact .container .inner-container .left input[type="button"] {
  text-transform: uppercase;
  background-color: rgba(49, 102, 148, 0.88);
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  padding: 15px;
}

.contact .container .inner-container .right {
  position: relative;
  background: url(../img/webdesign.jpg) bottom right no-repeat contain;
  width: 100%;
  max-width: 300px;
  width: 100%;
  text-align: left;
  margin-left: 20px;
}

.contact .container .inner-container .right p a {
  display: inline-block;
  color: #54595f;
  padding-left: 15px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto", Sans-serif;
}

.contact .container .inner-container .right p + p {
  margin-top: 15px;
}

.contact .container .inner-container .right img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
}

.footer {
  text-align: center;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */